header {
    .title {
        padding: 6%;


        text-align: center;
        height: auto;
        margin: 0;
        letter-spacing: .15em;
        text-transform: capitalize;
    }
}

@media (min-width: 700px){
    header {
        .title {
            padding: 7%;
        }
    }
}
