header {
    .title {
        padding: 6% 6% 0 6%;
        text-align: center;
        height: auto;
        margin: 0;
        letter-spacing: .12em;
        text-transform: capitalize;
    }

    .comment {
        color: lighten($accent-color, 10%);
        margin-top: .5em;
        text-align: center;
        letter-spacing: .25em;
    }
}

@media (max-width: 700px){
    header {
        .title {
            padding: 7% 7% 0 7%;
        }
    }
}
